
.e1fb0mya1.css-fblp2m.ex0cdmw0{
    display: none;
}
.css-10pw50.egzxvld1 {
    display: none;
}
.element-container.css-1pnf1l1.e1tzin5v2 {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    width: 200px;
    border-left: 0.7rem solid #6495ED !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    text-align: center;   
}
.css-10trblm.e16nr0p30 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}